<p>Hi <%= @member.first_name + " " + @member.last_name + " " + @group.timezone %></p>

<p>Today is friday and I send you the weekly log of your work in <%= @group.name %></p>

<p>Thanks and Regards,</p>
<p>Digest</p>
