<h2>Your Weekly Log</p>
<hr>

<br>
<% @daily_logs.each do |d| %>
<h4> Subject: <%= d.subject %> </h4>
<h4> Date: <%= d.create_at.to_date %> </h4>
<br>
<p><%= d.content + Time.now.begining_of_week.to_date%>

</p>

<hr>
<br>
<% end %>
<p>Have a nice weekend.</p>
<p>Thanks and Regards,</p>
<p>Digest</p>