<!-- @include header -->
<div class="floatRight box">
	<strong>Thanks for Using Us!</strong><br>
	We appreciate your support and are working hard to roll out more features. If you have any changes, suggestions or wishes, please <a href="#">let us know</a>.
</div>

<strong>School Settings</strong><br>

<table class="solid twoColumnGR table clickableGlyph">
	<tr>
		<td>Send emails from</td><td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			info@company.com
		</td>
	</tr>
	<tr>
		<td>Use Waiver?</td><td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			Yes
		</td>
	</tr>
	<tr>
		<td>Company Name</td><td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			{{}}
		</td>
	</tr>
	<tr>
		<td>Company Location</td><td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			{{}}<br>
			{{}}
		</td>
	</tr>
	<tr>
		<td>Phone Number</td><td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			{{(272) 413-5149}}
		</td>
	</tr>
</table>


<br><strong>Billing Settings</strong><br>

<table class="table solid twoColumnGR">
	<tr><td> Plan</td><td>Early Adopter Plan ($49.99/month)</tr>
	<tr><td>Credit Card</td><td>**** **** **** 5439</td></tr>
	<tr><td>Expiration</td><td>06 / 19 </td></tr>
</table>

<br><strong>Account Settings</strong><br>

<table class="table solid twoColumnGR">
	<tr><td>Email</td><td>{admin@company.com}</td></tr>
	<tr><td>Password</td><td>Click to Change</td></tr>
</table>




<!-- @include footer -->
