/* #Variables
 * ================================================== */
/* #Imports
 * ================================================== */
/* #Reset & Basics (Inspired by E. Meyers)
 * ================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, button, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-spacing: 0; }

/* #Typography
 * ================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #3a424d;
  font-weight: bold; }

h1 {
  font-size: 52px;
  line-height: 1.1; }

h2 {
  font-size: 44px;
  line-height: 1.2; }

h3 {
  font-size: 32px;
  line-height: 1.3; }

h4 {
  font-size: 20px;
  line-height: 1.4; }

h5 {
  font-size: 18px;
  line-height: 1.5; }

h6 {
  font-size: 16px;
  line-height: 1.6; }

p {
  margin: 0 0 0 0;
  word-spacing: 0.25em; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

::selection {
  background: #fff0b6; }

::-moz-selection {
  background: #fff0b6; }

/* #Links
 * ================================================== */
/* #Buttons
 * ================================================== */
.button, button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #3faa4f;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  padding: 5px 10px;
  color: white;
  margin: 0px;
  font-weight: normal;
  cursor: pointer;
  font-family: "GothamMedium"; }
  .button:hover, button:hover {
    background: #59c369; }
  .button:active, button:active {
    background: #31853e;
    font-size: 15px;
    padding: 5px 10px;
    line-height: 22px;
    margin: 1px;
    margin-left: 15px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }

input[type="submit"], input[type="reset"], input[type="button"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #3faa4f;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  padding: 5px 10px;
  color: white;
  margin: 0px;
  font-weight: normal;
  border: 0px;
  cursor: pointer;
  font-family: "GothamMedium"; }
  input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background: #59c369; }
  input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
    background: #31853e;
    font-size: 15px;
    padding: 5px 10px;
    line-height: 22px;
    margin: 1px;
    margin-left: 1px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }

.margin {
  margin-left: 14px; }
  .margin:active {
    margin-left: 15px; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }
input[type="text"], input[type="password"], input[type="email"] {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #f8fafb;
  color: #848d99;
  width: 100%;
  border: 0px #dde0e3 solid;
  font-size: 16px;
  padding: 8px;
  outline: none; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  border: 0px solid #dde0e3;
  padding: 8px;
  background: white;
  color: #444444;
  outline: none; }

.signUpForm input[type="text"], .signUpForm input[type="password"], .signUpForm input[type="email"] {
  width: 222px; }

/* #Forms
 * ================================================== */
textarea, select {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: white;
  color: #b0b0b0;
  font-size: 16px;
  width: 100%;
  border: 1px #cccccc solid;
  border-top: #bababa 1px solid;
  box-shadow: 0px 1px 0px #fcfcfc;
  padding: 5px 4px 4px 4px;
  outline: none; }

textarea:focus {
  border: 2px solid #aaaaaa;
  padding: 4px 3px 3px 3px;
  -moz-box-shadow: 0 0 0px #dddddd;
  -webkit-box-shadow: 0 0 0px #dddddd;
  box-shadow: 0 0 0px black;
  color: #444444;
  outline: none; }

select {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 161px;
  color: #666666;
  background: white;
  width: 268px;
  border: 1px solid #cccccc;
  height: 24px;
  box-shadow: 0px 1px 0px white; }

input.input-text, input.password {
  display: block;
  position: relative;
  color: #666666; }

textarea {
  display: block;
  position: relative;
  color: #666666; }

label.inlined {
  color: #bababa;
  padding: 3px 0 2px 6px;
  position: relative;
  -webkit-transition: color 0.15s linear;
  width: 146px;
  z-index: 1; }
label.has-text {
  color: white;
  -webkit-transition-duration: 0.15s;
  z-index: 0; }
label.inlined + input.input-text {
  margin-top: -26px; }
label.inlined + textarea.input-text {
  margin-top: -43px; }

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("fonts/glyphiconshalflings-regular.eot");
  src: url("fonts/glyphiconshalflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphiconshalflings-regular.woff") format("woff"), url("fonts/glyphiconshalflings-regular.ttf") format("truetype"), url("fonts/glyphiconshalflings-regular.svg#glyphicons_halflingsregular") format("svg");
  font-style: normal;
  font-weight: normal; }

.glyphicon:before {
  font-family: "Glyphicons Halflings";
  font-style: normal; }

.glyphicon-glass:before {
  content: "\e001"; }

.glyphicon-music:before {
  content: "\e002"; }

.glyphicon-search:before {
  content: "\e003"; }

.glyphicon-envelope:before {
  content: "\2709"; }

.glyphicon-heart:before {
  content: "\e005"; }

.glyphicon-star:before {
  content: "\e006"; }

.glyphicon-star-empty:before {
  content: "\e007"; }

.glyphicon-user:before {
  content: "\e008"; }

.glyphicon-film:before {
  content: "\e009"; }

.glyphicon-th-large:before {
  content: "\e010"; }

.glyphicon-th:before {
  content: "\e011"; }

.glyphicon-th-list:before {
  content: "\e012"; }

.glyphicon-ok:before {
  content: "\e013"; }

.glyphicon-remove:before {
  content: "\e014"; }

.glyphicon-zoom-in:before {
  content: "\e015"; }

.glyphicon-zoom-out:before {
  content: "\e016"; }

.glyphicon-off:before {
  content: "\e017"; }

.glyphicon-signal:before {
  content: "\e018"; }

.glyphicon-cog:before {
  content: "\e019"; }

.glyphicon-trash:before {
  content: "\e020"; }

.glyphicon-home:before {
  content: "\e021"; }

.glyphicon-file:before {
  content: "\e022"; }

.glyphicon-time:before {
  content: "\e023"; }

.glyphicon-road:before {
  content: "\e024"; }

.glyphicon-download-alt:before {
  content: "\e025"; }

.glyphicon-download:before {
  content: "\e026"; }

.glyphicon-upload:before {
  content: "\e027"; }

.glyphicon-inbox:before {
  content: "\e028"; }

.glyphicon-play-circle:before {
  content: "\e029"; }

.glyphicon-repeat:before {
  content: "\e030"; }

.glyphicon-refresh:before {
  content: "\e031"; }

.glyphicon-list-alt:before {
  content: "\e032"; }

.glyphicon-lock:before {
  content: "\e033"; }

.glyphicon-flag:before {
  content: "\e034"; }

.glyphicon-headphones:before {
  content: "\e035"; }

.glyphicon-volume-off:before {
  content: "\e036"; }

.glyphicon-volume-down:before {
  content: "\e037"; }

.glyphicon-volume-up:before {
  content: "\e038"; }

.glyphicon-qrcode:before {
  content: "\e039"; }

.glyphicon-barcode:before {
  content: "\e040"; }

.glyphicon-tag:before {
  content: "\e041"; }

.glyphicon-tags:before {
  content: "\e042"; }

.glyphicon-book:before {
  content: "\e043"; }

.glyphicon-bookmark:before {
  content: "\e044"; }

.glyphicon-print:before {
  content: "\e045"; }

.glyphicon-camera:before {
  content: "\e046"; }

.glyphicon-font:before {
  content: "\e047"; }

.glyphicon-bold:before {
  content: "\e048"; }

.glyphicon-italic:before {
  content: "\e049"; }

.glyphicon-text-height:before {
  content: "\e050"; }

.glyphicon-text-width:before {
  content: "\e051"; }

.glyphicon-align-left:before {
  content: "\e052"; }

.glyphicon-align-center:before {
  content: "\e053"; }

.glyphicon-align-right:before {
  content: "\e054"; }

.glyphicon-align-justify:before {
  content: "\e055"; }

.glyphicon-list:before {
  content: "\e056"; }

.glyphicon-indent-left:before {
  content: "\e057"; }

.glyphicon-indent-right:before {
  content: "\e058"; }

.glyphicon-facetime-video:before {
  content: "\e059"; }

.glyphicon-picture:before {
  content: "\e060"; }

.glyphicon-pencil:before {
  content: "\270f"; }

.glyphicon-map-marker:before {
  content: "\e062"; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-tint:before {
  content: "\e064"; }

.glyphicon-edit:before {
  content: "\e065"; }

.glyphicon-share:before {
  content: "\e066"; }

.glyphicon-check:before {
  content: "\e067"; }

.glyphicon-move:before {
  content: "\e068"; }

.glyphicon-step-backward:before {
  content: "\e069"; }

.glyphicon-fast-backward:before {
  content: "\e070"; }

.glyphicon-backward:before {
  content: "\e071"; }

.glyphicon-play:before {
  content: "\e072"; }

.glyphicon-pause:before {
  content: "\e073"; }

.glyphicon-stop:before {
  content: "\e074"; }

.glyphicon-forward:before {
  content: "\e075"; }

.glyphicon-fast-forward:before {
  content: "\e076"; }

.glyphicon-step-forward:before {
  content: "\e077"; }

.glyphicon-eject:before {
  content: "\e078"; }

.glyphicon-chevron-left:before {
  content: "\e079"; }

.glyphicon-chevron-right:before {
  content: "\e080"; }

.glyphicon-plus-sign:before {
  content: "\e081"; }

.glyphicon-minus-sign:before {
  content: "\e082"; }

.glyphicon-remove-sign:before {
  content: "\e083"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-question-sign:before {
  content: "\e085"; }

.glyphicon-info-sign:before {
  content: "\e086"; }

.glyphicon-screenshot:before {
  content: "\e087"; }

.glyphicon-remove-circle:before {
  content: "\e088"; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

.glyphicon-ban-circle:before {
  content: "\e090"; }

.glyphicon-arrow-left:before {
  content: "\e091"; }

.glyphicon-arrow-right:before {
  content: "\e092"; }

.glyphicon-arrow-up:before {
  content: "\e093"; }

.glyphicon-arrow-down:before {
  content: "\e094"; }

.glyphicon-share-alt:before {
  content: "\e095"; }

.glyphicon-resize-full:before {
  content: "\e096"; }

.glyphicon-resize-small:before {
  content: "\e097"; }

.glyphicon-plus:before {
  content: "\002b"; }

.glyphicon-minus:before {
  content: "\2212"; }

.glyphicon-asterisk:before {
  content: "\002a"; }

.glyphicon-exclamation-sign:before {
  content: "\e101"; }

.glyphicon-gift:before {
  content: "\e102"; }

.glyphicon-leaf:before {
  content: "\e103"; }

.glyphicon-fire:before {
  content: "\e104"; }

.glyphicon-eye-open:before {
  content: "\e105"; }

.glyphicon-eye-close:before {
  content: "\e106"; }

.glyphicon-warning-sign:before {
  content: "\e107"; }

.glyphicon-plane:before {
  content: "\e108"; }

.glyphicon-calendar:before {
  content: "\e109"; }

.glyphicon-random:before {
  content: "\e110"; }

.glyphicon-comment:before {
  content: "\e111"; }

.glyphicon-magnet:before {
  content: "\e112"; }

.glyphicon-chevron-up:before {
  content: "\e113"; }

.glyphicon-chevron-down:before {
  content: "\e114"; }

.glyphicon-retweet:before {
  content: "\e115"; }

.glyphicon-shopping-cart:before {
  content: "\e116"; }

.glyphicon-folder-close:before {
  content: "\e117"; }

.glyphicon-folder-open:before {
  content: "\e118"; }

.glyphicon-resize-vertical:before {
  content: "\e119"; }

.glyphicon-resize-horizontal:before {
  content: "\e120"; }

.glyphicon-hdd:before {
  content: "\e121"; }

.glyphicon-bullhorn:before {
  content: "\e122"; }

.glyphicon-bell:before {
  content: "\e123"; }

.glyphicon-certificate:before {
  content: "\e124"; }

.glyphicon-thumbs-up:before {
  content: "\e125"; }

.glyphicon-thumbs-down:before {
  content: "\e126"; }

.glyphicon-hand-right:before {
  content: "\e127"; }

.glyphicon-hand-left:before {
  content: "\e128"; }

.glyphicon-hand-up:before {
  content: "\e129"; }

.glyphicon-hand-down:before {
  content: "\e130"; }

.glyphicon-circle-arrow-right:before {
  content: "\e131"; }

.glyphicon-circle-arrow-left:before {
  content: "\e132"; }

.glyphicon-circle-arrow-up:before {
  content: "\e133"; }

.glyphicon-circle-arrow-down:before {
  content: "\e134"; }

.glyphicon-globe:before {
  content: "\e135"; }

.glyphicon-wrench:before {
  content: "\e136"; }

.glyphicon-tasks:before {
  content: "\e137"; }

.glyphicon-filter:before {
  content: "\e138"; }

.glyphicon-briefcase:before {
  content: "\e139"; }

.glyphicon-fullscreen:before {
  content: "\e140"; }

.glyphicon-dashboard:before {
  content: "\e141"; }

.glyphicon-paperclip:before {
  content: "\e142"; }

.glyphicon-heart-empty:before {
  content: "\e143"; }

.glyphicon-link:before {
  content: "\e144"; }

.glyphicon-phone:before {
  content: "\e145"; }

.glyphicon-pushpin:before {
  content: "\e146"; }

.glyphicon-euro:before {
  content: "\20ac"; }

.glyphicon-usd:before {
  content: "\e148"; }

.glyphicon-gbp:before {
  content: "\e149"; }

.glyphicon-sort:before {
  content: "\e150"; }

.glyphicon-sort-by-alphabet:before {
  content: "\e151"; }

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"; }

.glyphicon-sort-by-order:before {
  content: "\e153"; }

.glyphicon-sort-by-order-alt:before {
  content: "\e154"; }

.glyphicon-sort-by-attributes:before {
  content: "\e155"; }

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"; }

.glyphicon-unchecked:before {
  content: "\e157"; }

.glyphicon-expand:before {
  content: "\e158"; }

.glyphicon-collapse:before {
  content: "\e159"; }

.glyphicon-collapse-top:before {
  content: "\e160"; }

@font-face {
  font-family: "Gotham";
  src: url("Gotham-Book.eot");
  src: local("Gotham Book"), local("Gotham-Book"), url("Gotham-Book.woff") format("woff"), url("Gotham-Book.otf") format("opentype"), url("Gotham-Book.svg#Gotham-Book") format("svg"); }

@font-face {
  font-family: "Gotham";
  src: url("Gotham-BookItalic.eot");
  src: local("Gotham Italic"), local("Gotham-BookItalic"), url("Gotham-BookItalic.woff") format("woff"), url("Gotham-BookItalic.otf") format("opentype"), url("Gotham-BookItalic.svg#Gotham-BookItalic") format("svg");
  font-style: italic; }

@font-face {
  font-family: "Gotham";
  src: url("Gotham-Bold.eot");
  src: local("Gotham Bold"), local("Gotham-Bold"), url("Gotham-Bold.woff") format("woff"), url("Gotham-Bold.otf") format("opentype"), url("Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: bold; }

@font-face {
  font-family: "Gotham";
  src: url("Gotham-BoldItalic.eot");
  src: local("Gotham Bold Italic"), local("Gotham-BoldItalic"), url("Gotham-BoldItalic.woff") format("woff"), url("Gotham-BoldItalic.otf") format("opentype"), url("Gotham-BoldItalic.svg#Gotham-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "GothamLight";
  src: url("Gotham-Light.eot");
  src: local("Gotham Light"), local("Gotham-Light"), url("Gotham-Light.woff") format("woff"), url("Gotham-Light.otf") format("opentype"), url("Gotham-Light.svg#Gotham-Light") format("svg"); }

@font-face {
  font-family: "GothamLight";
  src: url("Gotham-LightItalic.eot");
  src: local("Gotham Light Italic"), local("Gotham-LightItalic"), url("Gotham-LightItalic.woff") format("woff"), url("Gotham-LightItalic.otf") format("opentype"), url("Gotham-LightItalic.svg#Gotham-LightItalic") format("svg");
  font-style: italic; }

@font-face {
  font-family: "GothamMedium";
  src: url("Gotham-Medium.eot");
  src: local("Gotham Medium"), local("Gotham-Medium"), url("Gotham-Medium.woff") format("woff"), url("Gotham-Medium.otf") format("opentype"), url("Gotham-Medium.svg#Gotham-Medium") format("svg"); }

@font-face {
  font-family: "GothamMedium";
  src: url("Gotham-MediumItalic.eot");
  src: local("Gotham Medium Italic"), local("Gotham-MediumItalic"), url("Gotham-MediumItalic.woff") format("woff"), url("Gotham-MediumItalic.otf") format("opentype"), url("Gotham-MediumItalic.svg#Gotham-MediumItalic") format("svg");
  font-style: italic; }

/* #Tables
 * ================================================== */
.solid {
  background: #f8fafb;
  margin-top: 4px;
  color: #3a424d; }
  .solid .glyphicon {
    float: right;
    margin-right: 6px;
    color: #f8fafb;
    color: rgba(0, 0, 0, 0);
    line-height: 18px;
    margin-top: 3px; }
  .solid td:last-child {
    color: #848d99; }
  .solid td {
    line-height: 24px;
    padding: 8px 0;
    color: #848d99;
    vertical-align: top; }
  .solid tr:last-child td {
    border-bottom: none; }
  .solid td:first-child {
    text-indent: 8px; }
  .solid tr td, .solid tr th {
    border-top: 1px dotted #c9ced3; }
  .solid tr:first-child td, .solid tr:first-child th {
    border-top: none; }

.clickableGlyph tr:hover {
  cursor: pointer;
  background: white; }
  .clickableGlyph tr:hover:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .clickableGlyph tr:hover:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .clickableGlyph tr:hover .glyphicon {
    color: #848d99;
    cursor: pointer;
    margin-right: 8px; }
.clickableGlyph tr:active {
  background: #dde0e3; }
  .clickableGlyph tr:active td {
    color: #239fd8;
    padding-top: 10px;
    padding-bottom: 6px;
    box-shadow: inset 0 3px 1px -1px rgba(0, 0, 0, 0.09); }
  .clickableGlyph tr:active .glyphicon {
    color: rgba(0, 0, 0, 0); }

.table {
  width: 62%;
  line-height: 24px;
  text-align: left;
  border-radius: 3px; }
  .table th {
    font-family: "GothamMedium"; }
    .table th:hover {
      cursor: default; }
  .table td {
    vertical-align: top; }

.noBorder td {
  border-bottom: none; }
.noBorder td:first-child {
  text-indent: 0px; }

.twoColumn td {
  width: 50%; }

.twoColumnGR td:last-child {
  width: 62%; }
.twoColumnGR td:first-child {
  width: 38%; }

.threeColumn td {
  width: 33%; }

.threeColumnGR td {
  width: 27%; }
.threeColumnGR td:first-child {
  width: 46%; }

.fullWidth {
  width: 100%; }

.click {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #3faa4f;
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  padding: 5px 10px;
  color: white;
  margin: 0px;
  margin-left: 14px;
  font-weight: normal;
  cursor: pointer;
  font-family: "GothamMedium"; }
  .click:hover {
    background: #59c369; }
  .click:active {
    background: #31853e;
    font-size: 15px;
    padding: 5px 10px;
    line-height: 22px;
    margin: 1px;
    margin-left: 15px;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }

/* #Style
 * ================================================== */
body {
  font: 14px;
  line-height: 28px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background: white;
  margin: 0px;
  padding: 0px;
  font-family: "Gotham", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #47515e;
  cursor: default; }

a, a:visited, a:hover, a:active {
  color: #47515e;
  text-decoration: none;
  border: 0px;
  outline: 0; }

.wrapper {
  background: #eef0f2;
  border-bottom: 1px solid #dde0e3;
  margin-bottom: 0px; }

.container {
  width: 960px;
  margin: 0 auto; }

.container2 {
  width: 595px; }
  .container2 .textareaWrap {
    padding: 6px;
    padding-bottom: 0px;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 18px; }
  .container2 textarea {
    border: 0px solid #dde0e3;
    box-shadow: none;
    background: white;
    min-height: 370px;
    padding: 0px;
    color: #7b8d9e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    resize: none; }
    .container2 textarea:focus {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      color: #6a7380; }

.main {
  min-height: 520px;
  padding-bottom: 37px; }

.header {
  background: #3a424d;
  line-height: 62px;
  font-size: 30px;
  color: #eef0f2;
  font-family: "GothamMedium";
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .header .floatRight {
    font-size: 16px;
    font-weight: normal;
    color: #848d99; }
  .header .container {
    color: #eef0f2; }

.navigation {
  background: #dde0e3;
  height: 100px;
  margin-bottom: 20px;
  font-family: "GothamMedium";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .navigation table {
    width: 100%; }
    .navigation table td {
      width: 16.6%;
      font-size: 16px;
      line-height: 22px;
      padding-top: 19px;
      font-weight: 500;
      color: #7b8d9e;
      text-align: center;
      height: 81px;
      max-height: 81px;
      overflow: hidden;
      vertical-align: top; }
      .navigation table td:hover {
        color: #3a424d;
        cursor: pointer;
        -webkit-transition: all 0.15s;
        -moz-transition: all 0.15s;
        -ms-transition: all 0.15s;
        -o-transition: all 0.15s;
        transition: all 0.15s; }
      .navigation table td:active {
        animation: navbarActive 2s;
        -moz-animation: navbarActive 2s;
        -webkit-animation: navbarActive 2s;
        -o-animation: navbarActive 2s; }
      .navigation table td .glyphicon {
        font-size: 34px;
        line-height: 40px; }
    .navigation table .selected {
      color: #3a424d;
      background-image: url(../images/arrow.png);
      background-size: 10%;
      background-repeat: no-repeat;
      background-position: 72px 85px;
      background-color: #cfd3d7; }

.code {
  font-family: "Anadale Mono", "Courier", "Lucidatypewriter", Fixed, monospace;
  color: #848d99;
  background: #f8fafb;
  padding: 7px;
  border-radius: 5px;
  line-height: 22px;
  margin: 14px 0; }

@-webkit-keyframes navbarActive {
  0% {
    color: #239fd8; }

  100% {
    color: #fcfefe; } }

@-webkit-keyframes navbarActive2 {
  0% {
    background-color: #239fd8;
    color: #239fd8; }

  100% {
    background-color: #fcfefe;
    color: #fcfefe; } }

.footer {
  line-height: 60px;
  padding: 0px;
  color: #848d99; }

.floatRight {
  float: right; }

.box {
  width: 320px; }

.glyphicon {
  vertical-align: bottom; }

strong {
  font-family: "GothamMedium";
  font-weight: normal; }

.blue {
  background: #239fd8; }
  .blue:hover {
    background: #4bb3e3; }
  .blue:active {
    background: #1c7fac; }

.inactive {
  background: #d6d8db; }
  .inactive:hover {
    background: #7b8d9e; }
  .inactive:active {
    background: #5f7487;
    margin-left: 17px; }

hr {
  border: 1px solid #dde0e3;
  margin: 24px 0; }

.tip {
  color: #7b8d9e;
  font-size: 14px;
  line-height: 20px; }

.center {
  text-align: center; }

.subText {
  font-size: 14px;
  line-height: 20px;
  color: #848d99; }

.section {
  border-bottom: 2px solid #dde0e3;
  margin-bottom: 20px;
  line-height: 16px;
  height: 16px;
  vertical-align: middle;
  text-align: left;
  padding-bottom: 16px;
  vertical-align: top; }

/* #Sign-Up
 * ================================================== */
.signUpHeader {
  background: #3a424d; }

.signUpSubHeader {
  background: #dde0e3;
  line-height: 38px;
  font-family: "GothamMedium"; }

.signUpForm {
  width: 100%; }
  .signUpForm td {
    padding-bottom: 4px;
    color: #848d99;
    line-height: 22px;
    font-size: 14px; }
  .signUpForm td:first-child {
    width: 240px;
    padding-right: 8px; }
  .signUpForm td:last-child {
    padding-top: 8px; }
