<!-- @include header -->


<div class="floatRight box tip">
	<div style="text-align: center;"><select style="margin: 0 auto">
		<option>Select an email to edit</option>
	</select></div>
	<hr style="margin: 6px 0">	
This is the message members will receive when they first sign up for the intro class.<br><br>
<strong>Tips:</strong><br>
&bull; Always include price sheets<br>
&bull; Something else
</div>

	
	<strong>Editing "Intro to New Class"
	<div class="container2">
	
		<div class="textareaWrap">
<textarea>Hi %name,

[Pre-generated email]

Best Regards,
Max</textarea></div>

			<div class="floatRight">	
				<div class="button margin blue">Preview</div><div class="click">Save</div>
			</div>
				<div class="button margin inactive">Revert to Original</div>
</div>

<!-- @include footer -->
