<!-- @include header -->


<div class="floatRight box ">
	<strong>Scheduled Emails</strong><br>
	We automatically sends emails to your members after certain events. Every email is specially penned by our marketing team, but you are welcome to change them as you see fit.<br><br>
</div>



<strong>Click to Edit an Email</strong>
<a href="email_edit.html">
	<table class="twoColumn solid clickableGlyph table">
		<tr>
			<td>Confirmation Message</td>
			<td>
				<i class="glyphicon glyphicon-chevron-right"></i>
				Sent Upon Reservation</td>
		</tr>
		<tr>
			<td>Follow-Up</td>
			<td>
				<i class="glyphicon glyphicon-chevron-right"></i>
				Sent 1 Hour After Class</td>
		</tr>
		<tr>
			<td>Follow-Up</td>
			<td>
				<i class="glyphicon glyphicon-chevron-right"></i>
				Sent 1 Week After Class</td>
		</tr>
	</table>
</a>

<!-- @include footer -->
