<!-- @include header -->
 
<div class="floatRight box">
<br>
<input type="button" value="Cancel Class"><br>

Everyone who signs up will be emailed and asked to re-schedule.
</div><a href="member.html">
<strong>Class Details for Thursday, June 7 at 7:00 PM</strong>
<table class="twoColumn solid table">
	<tr>
		<td>Registrations</td>
		<td>14</td>
	</tr>
	<tr>
		<td>Intro Email sent?</td>
		<td>Yes</td>
	</tr>
	<tr>
		<td>Intro Email sent?</td>
		<td>Yes</td>
	</tr>
	
</table>

<br>
<strong>Attendees</strong>
<table class="twoColumn solid clickableGlyph table">
	<tr>
		<td>Max Savin</td>
		<td>msavin@me.com</td>
	</tr>
	<tr>
		<td>Kevin re-schedule</td>
		<td>reedkevin88@gmail.com</td>
	</tr>
</table>
</a>

<!-- @include footer -->
