<!-- @include header -->
 

<a href="member.html">
<div style="float: right"></div>
<strong> Displaying 1-50 of 1419 Members</strong>
<table class="threeColumn solid clickableGlyph fullWidth table">
	<tr>
		<td>John Smith</td>
		<td>jsmith@gmail.com</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			June 14, 2013</td>
	</tr>
	<tr>
		<td>John Smith</td>
		<td>jsmith@gmail.com</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			June 14, 2013</td>
	</tr>
	<tr>
		<td>John Smith</td>
		<td>jsmith@gmail.com</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			June 14, 2013</td>
	</tr>
	<tr>
		<td>John Smith</td>
		<td>jsmith@gmail.com</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			June 14, 2013</td>
	</tr>
</table>
</a>

<!-- @include footer -->
