<!-- @include header -->
 
<div class="floatRight box">

<i class="glyphicon glyphicon-circle-arrow-down"></i> Download Digital Contract
</div>
<strong>Max Savin</strong>
<table class="twoColumn solid table">
	<tr>
		<td>Registration Date</td>
		<td>June 14, 2013</td>
	</tr>
	<tr>
		<td>Class Time</td>
		<td>June 16, 2013 at 7:00 PM</td>
	</tr>
	<tr>
		<td>Attended?</td>
		<td>Yes</td>
	</tr>
	<tr>
		<td>Birthday</td>
		<td>June 16, 1960 (Age 18)</td>
	</tr>
	<tr>
		<td>John Smith</td>
		<td>jsmith@gmail.com</td>
	</tr>
</table>

<br>
<strong>Waiver Information</strong>
<table class="twoColumn solid table">
	<tr>
		<td>Sign Time</td>
		<td>7:53 PM on June 14, 2013</td>
	</tr>
	<tr>
		<td>Sign Location</td>
		<td>New York, NY</td>
	</tr>
	<tr>
		<td>Sign Device </td>
		<td>iPhone (iOS 6.1)</td>
	</tr>
	<tr>
		<td>Birthday</td>
		<td>June 16, 1960 (Age 18)</td>
	</tr>
	<tr>
		<td>John Smith</td>
		<td>jsmith@gmail.com</td>
	</tr>
</table>

<!-- @include footer -->
