<!-- @include header -->
 
<div class="floatRight box">
<strong>Schedule an Intro Class</strong>
<input type="text" placeholder="Date">
<input type="text" placeholder="Time">
<input type="button" value="Create Class">
</div>
<a href="class.html">
	<strong>Upcoming Classes</strong>
<table class="threeColumnGR solid clickableGlyph table">
	<tr>
		<td>Thursday, June 6</td>
		<td>7:00PM</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			14 People</td>
	</tr>
	<tr>
		<td>Friday, June 7</td>
		<td>7:00PM</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			18 People</td>
	</tr>
	<tr>
		<td>Tuesday, June 10</td>
		<td>5:00PM</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			7 People</td>
	</tr>
	<tr>
		<td>Monday, June 16</td>
		<td>6:00PM</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			4 People</td>
	</tr>
</table>
</a>

<br>

<strong>Past Classes</strong>
<table class="threeColumnGR solid clickableGlyph table">
	<tr>
		<td>Thursday, June 6</td>
		<td>7:00PM</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			14 People</td>
	</tr>
	<tr>
		<td>Friday, June 7</td>
		<td>7:00PM</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			18 People</td>
	</tr>
	<tr>
		<td>Tuesday, June 10</td>
		<td>5:00PM</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			7 People</td>
	</tr>
	<tr>
		<td>Monday, June 16</td>
		<td>6:00PM</td>
		<td>
			<i class="glyphicon glyphicon-chevron-right"></i>
			4 People</td>
	</tr>
</table>

<!-- @include footer -->
