<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>SchoolApp</title>
<link rel="stylesheet" href="css/base.css">
<link rel="shortcut icon" href="images/favicon.ico">
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144-precomposed.png">
</head>


<body>

<div class="wrapper">
	<div class="header">
		<div class="container">
			AppName
			<div class="floatRight">
				Sign In
			</div>
		</div>
	</div>

	<div class="signUpSubHeader">
		<div class="container">
			Sign Up
		</div>
	</div>
	

	<div class="container">
		<div class="center"><br>
			<h3>Good Choice.</h3>
			After completing this form, you will start using our app!
		</div>
		<hr>
		<table class="twoColumnGR fullWidth table">
			<tr>
				<td>
					<strong>Personal Information</strong>
				</td>
				<td>
					<table class="signUpForm">
						<tr>
							<td><input type="text" class="xx" placeholder="Name"></td>
							<td>Placeholder information</td>
						</tr><tr>
							<td><input type="text" placeholder="Email"></td>
							<td>Placeholder information</td>
						</tr><tr>
							<td><input type="text" placeholder="Password"></td>
							<td>Placeholder information</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<hr>

		<table class="twoColumnGR fullWidth table">
			<tr>
				<td>
					<strong>School Information</strong>
				</td>
				<td>
					<table class="signUpForm">
						<tr>
							<td><input type="text" class="xx" placeholder="Name"></td>
							<td>Placeholder information</td>
						</tr><tr>
							<td><input type="text" placeholder="Address"></td>
							<td>Placeholder information</td>
						</tr><tr>
							<td><input type="text" placeholder="Address"></td>
							<td>Placeholder information</td>
						</tr><tr>
							<td><input type="text" placeholder="Phone Number"></td>
							<td>Placeholder information</td>
						</tr><tr>
							<td><input type="text" placeholder="Email"></td>
							<td>Placeholder information</td>
						</tr><tr>
							<td><input type="text" placeholder="Intro Class Capacity"></td>
							<td>Placeholder.</td>
						</tr>
					</table>


				</td>
			</tr>
		</table>
		<hr>

		<table class="twoColumnGR fullWidth table">
			<tr>
				<td>
					<strong>Billing Information</strong>
					<div class="subText">Insert Credit Card Icons</div>
				</td>
				<td>
					<table class="signUpForm">
						<tr>
							<td><input type="text" class="xx" placeholder="Credit Card"></td>
							<td rowspan="3">Placeholder information</td>
						</tr><tr>
							<td><input type="text" placeholder="Expiration"></td>
						</tr><tr>
							<td><input type="text" placeholder="Last 3 Digits"></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<hr>

		<table class="fullWidth table">
			<tr>
				<td>
					<strong>Use Digital Waiver?</strong><br>
					<div class="subText"> ?  </div>
				</td>
		
			</tr>
		</table>
		<hr>

		<div class="center">
			<div class="button">Sign Up</div>
			<div class="subText">By clicking Sign Up, you agree to our Privacy Policy and Terms of Service.<br>Remember, this is only the beginning.</div>
		</div>
	</div>
	</div>


	<div class="footer container">
			&copy;
	</div>


</body>
</html>